---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-mxc max-w-none">
		<p>
			I’m Amir, a software developer focused on the JavaScript ecosystem. Here I share ideas,
			experiments, and practical lessons I’ve found genuinely useful in real projects.
		</p>
		<p>
			I believe the most important thing for any developer is the ability to learn quickly, deeply
			understand project needs, and deliver solutions that meet those needs. I’m comfortable with
			being flexible across different technologies because I think adaptability is more important
			than just being an expert in one thing. At the end of the day, my goal is to build
			high-quality solutions that truly support the business, no matter the tools or frameworks
			involved.
		</p>
		<p>
			Thanks for your attention, and I’m excited to chat more about how I can contribute to your
			team!
		</p>
	</div>
</PageLayout>
